<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


<link rel="stylesheet" href="/css/styles.css">
</head>



<body>
    <header class="nombre">
        <div id="top-header">
            <div class="logo">
                <a href="/"> </a>
    <img src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
    <div>
        <input type="text" placeholder="Buscá productos y marcas" > 
    </div> 
    <button>
    <i class="fas fa-search" ></i>
    </button>
    <p id="subtitulo"> <i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de crédito 
    </p>
    <nav class="login-bar">
    <ul class="nav-link-list"  > <li><a href="#" class="nav-link-list">Ofertas</a></li>
         <li><a href="#" class="nav-link-list">Tiendas Oficiales</a></li>
          <li><a href="#" class="nav-link-list">Vender</a></li>
           <li><a href="#" class="nav-link-list">Ayuda</a></li>
         </ul>
           <ul class="nav-link-list" > 
               <li><a href="/register"  class="nav-link-list"> Crea tu cuenta <i class="far fa-address-card"></i> </a></li> 
            <li><a href="/login" class="nav-link-list">Ingresa <i class="fas fa-sign-in-alt"></i> </a></li>
             <li><a href="#" class="nav-link-list"> compras <i class="fas fa-shopping-basket"></i></a></li> 
            </ul> 
            </nav>
            <div id="button">
                <button id="menu-button">
                <i class="fas fa-bars"></i>
            </button>
        </div>
</header>


    <main>
        <div class="form-login"
        <form action="/" method="get" >
            <div class="input-box">
                <label for="user"></label>
                <input type="text" name="user" id="user" placeholder="Nombre de usuario" required> 
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Contrasenia">
            </div>
            <div class="input-botton"> 
            <button type="submit">  Login </button>
            </div>
            </form>
        </div>
        </main>
        <footer>
        </footer>
</body>
</html>


<footer>
    <div class="contenedor-3">
    <div class="icon">
    <div class="car-icon"><i class="fas fa-credit-card"></i></div>
    </div>
    <h5 class="tit-footer"> Paga con tarjeta o en efectivo </h5>
<p class="texto-pdp">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
</div>
<div class="contenedor-3">
<div class="icon">
<div class="gif-icon"><i class="fas fa-gift"></i></div> 
</div>
<h5 class="tit-footer">Envío gratis desde $ 2.500</h5>
 <p class="texto-pdp">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.</p> 
</div>
    <div class="contenedor-3">
        <div class="icon">
    <div class="segurity-icon"><i class="fas fa-user-shield"></i></div>
    </div>
    <h5 class="tit-footer">Seguridad, de principio a fin</h5>
    <p class="texto-pdp">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
     </div>

</footer>
 <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>