<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-reg"
    <form>
        <label for="search">Busca tu producto o marca</label>
        <input type="text" name="search"> 
        <select>
            <option>Electrodomesticos</option>
            <option>Productos de belleza</option>
            <option>Automoviles</option>
            <option>Prodcutos de decoracion</option>
            <option>Otro</option>
        </select>

    </form>
</div>
    </body>
</html>