* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    box-sizing: content-box;
}

header {
    background-color:#EAC926;
}
.nav-link-list{
    list-style: none;
    text-align: left;
    color: black;
    text-decoration: none;
    display: none;
}
footer{
    text-align: center;
}
#subtitulo{
    text-align: center;
}
body{
    font-family: Roboto;
    font-size: 12px;
    background-color: #ebebeb;
}
.des{
    display: none;
}

@media (min-width: 1200px){
 .login-bar{
     display: initial;
 }   
 .nav-link-list{
     display: initial
 }
 #menu-button{
     display: none;
 }
 .seccion-ofertas{
    display: flex;
}
.ultima-visita {
    display: flex;
}
.product:hover .product-background{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    color: #fff;
    transition-duration: height 1s;
}
.product:hover .des{
    display: initial;
}

    }

@media (min-width: 769px){
    .des{
        display: initial;
    }
    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .login-bar{
        display: initial;
    }
    .nav-link-list{
        display: initial;
    }
    #menu-button{
        display: none;
    }
    .fortablet{
        display: flex;
    }
    footer{
        display: flex;
    }
    
}

#menu-button{
    background-color:  #073dae;
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: white;
    text-align: center;
}
#button{
    text-align: center;
}
.precio{ font-size: 18px; color: #000}
.promo{ font-size: 16px; color:#39b54a;}
.des {font-size: 16px;
color: gray;
}
h3{ font-size: 24px;}

.banner{
    width: 100%;
}
.car-icon{
    color:#073dae; 
    font-size: 2em;
}
.gif-icon{
    color:#073dae ;
    font-size: 2em;
}
.segurity-icon{
    font-size: 2em;
    color:#073dae ;
}
h5{
    color:#666;
}
h3{
    color: #666;
}

.texto-pdp{
color: #110d0d;
}

main{
    margin: 0 auto;
    width: 90%;
    background-color:  #ebebeb;
}
p {
    font-size: 12px;
}
article{
    padding: 10px;
}
.product{
    width: 100%;
    padding: 20px;
}


.truck-icon{
   font-size: 16px;
   padding: 5px;
   width: 30px;
   height: 30px;
   border: 1px solid #39b54a;
   background-color: #fff;
   border-radius: 50%;
   position: absolute;
   right: 20px;
   top: -15px;
   color: #39b54a;
   text-align: center;
   transition: transform 1s;
}
.product:hover .truck-icon{
    transform: rotate(360deg);
}

img{
    width: 100%;
}

.dosp{
    display: flex;
    align-items: flex-end;
    justify-content: space-between 15px;
 
}
.logo{
    width: 50%;
}
.barra-busqueda{
    width: 50%;
    height: 50%;
}
.icon :hover{
    color: aqua;
}
.icon{
    transition:all color 450ms;
}
.input-botton :hover{
    background-color: #0022AA;
    ;
}
.input-botton{
    transition: all  450ms;
}
.form-login{
    background-color: #ebebeb;
    padding: 50px;
    margin: 10%
}
.input-botton{
    color:white;
    font-size: 16px;
    margin: 20px;
    background-color: blue;
    padding: 5px 20px 5px 20px;
    text-align: center;
    border: solid black;

}
#user{
    padding: 5px 20px 5px 20px;
    margin: 20px;
    border: dashed #ebebeb;
}
#password{
    padding: 5px 20px 5px 20px;
    margin: 20px;
    border: dashed #ebebeb;
}
.xx{
    border: solid black;
    margin: 10px;
    padding: 5px;
}
.sub{
    font-size: 17px;

}
.form-reg{
    background-color: #ebebeb;
    padding: 20px;
    margin: 10%;
    border: dashed grey;
}

.main-article{
    border-top: solid 1px white;
    width: 100%;
    position: relative;
    padding: 15px;
}